@charset "UTF-8";
// 変数・ミックスイン
//
// 色などの変数読み込み
//
@use "setting/setting";
@use "mixin/mixin";

// plugins
//
// 外部CSS読み込み
//
@use './plugins';

// base
//
// ベース系
//
@use './base/base';

// module
//
// 汎用モジュール
//
@use './modules';

// page module
//
// ページモジュール
//
@use './page';

.p-home {
  height: auto;
  padding: 50px 0;
}

.space {
  padding-top: 30px;
}

.media {
  display: flex;
  align-items: center;

  &__img-wrapper {
    flex: 0 1 27.58333%;
    margin-right: 3.33333%;
  }

  &__img {
    width: 100%;
  }

  &__body {
    flex: 1;
  }
  /*最後の要素の余白をリセット*/
  &__body > *:last-child {
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 1.125rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .media {
    display: block;

    &__img-wrapper {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.media--reverse {
  flex-direction: row-reverse;

  .media {
    &__img-wrapper {
      margin-right: 0;
    }

    &__body {
      margin-right: 3.33333%;
      text-align: right;
    }
  }
}

@media screen and (max-width: 768px) {
  .media--reverse {
    .media__body {
      margin-right: 0;
    }
  }
}

.half-media {
  display: flex;
  align-items: center;

  &__img-wrapper {
    flex: 0 1 48.33333%;
    margin-right: 3.33333%;
  }

  &__img {
    width: 100%;
  }

  &__body {
    flex: 1;
  }
  /*最後の要素の余白をリセット*/
  &__body > *:last-child {
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 1.125rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .half-media {
    display: block;

    &__img-wrapper {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards--col3 {
  margin-bottom: -30px;

  .cards__item {
    width: 31.707%;
    margin-right: 2.43902%;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .cards--col3 {
    margin-bottom: -20px;
  }

  .cards > .cards__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

  &__img-wrapper {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }

  &__body {
    padding-top: 15px;

    & > *last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 5px;
    font-size: 1.125rem;
    font-weight: bold;
  }

  &__text {
    color: #777;
  }
}

.card__badge {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-width: 3.75rem 3.75rem 0 0;
    border-style: solid;
    border-color: #e25c00 transparent transparent transparent;
  }
}

.card__badge-text {
  position: absolute;
  z-index: 2;
  top: 0.5rem;
  left: 0.3125rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: bold;
  transform: rotate(-45deg);
}

.card--link {
  display: block;
  color: currentColor;
  text-decoration: none;
  transition: 0.25s;
  .card__title,
  .card__text {
    transition: 0.25s;
  }

  &:focus,
  &:hover {
    opacity: 0.75s;
    .card__title,
    .card__text {
      color: #e25c00;
      text-decoration: underline;
    }
  }
}

.horizontal-table {
  border: 1px solid #ddd;

  &__inner {
    width: 100%;
  }

  &__header {
    width: 20%;
    padding: 15px;
    background-color: #efefef;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    vertical-align: middle;
  }

  &__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }

  &__row:last-child {
    .horizontal-table__header,
    .horizontal-table__text {
      border-bottom-width: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .horizontal-table--md-scroll {
    border-right-width: 0;
    overflow-x: auto;

    .horizontal-table__header,
    .horizontal-table__text {
      white-space: nowrap;
    }

    .horizontal-table__text {
      border-right: 1px solid #ddd;
    }
  }
}

.vertical-table {
  border: 1px solid #ddd;

  &__inner {
    width: 100%;
    text-align: center;
    table-layout: fixed;
  }

  &__header-row {
    background-color: #efefef;
  }

  &__header {
    padding: 15px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    vertical-align: middle;
  }

  &__text {
    padding: 15px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
  }

  &__header,
  &__text {
    &:last-child {
      border-right-width: 0;
    }
  }

  &__body-row:last-child .vertical-table__text {
    border-bottom-width: 0;
  }
}

@media screen and (max-width: 768px) {
  .vertical-table {
    border-right-width: 0;
    overflow-x: auto;

    &__inner {
      width: auto;
      min-width: 100%;
    }

    &__header,
    &__text {
      white-space: nowrap;

      &:last-child {
        border-right-width: 1px;
      }
    }
  }
}

.cross-table {
  border: 1px solid #ddd;

  &__inner {
    width: 100%;
    text-align: center;
    table-layout: fixed;
  }

  &__header {
    padding: 15px;
    background-color: #efefef;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    vertical-align: middle;
  }

  &__text {
    padding: 15px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
  }

  &__header,
  &__text {
    &:last-child {
      border-right-width: 0;
    }
  }

  &__body-row:last-child {
    .cross-table__header,
    .cross-table__text {
      border-bottom-width: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .cross-table {
    border-right-width: 0;
    overflow-x: auto;

    &__inner {
      width: auto;
      min-width: 100%;
    }

    &__header,
    &__text {
      white-space: nowrap;

      &:last-child {
        border-right-width: 1px;
      }
    }

    &__header--md-sticky {
      position: sticky;
      left: 0;
    }
  }
}

.pager {
  display: flex;
  overflow-x: auto;

  &__inner {
    display: flex;
    margin: 0 auto;

    & > *:last-child {
      margin-right: 0;
    }
  }

  &__item {
    margin-right: 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid currentColor;
    color: #e25c00;
    text-decoration: none;
    transition: 0.25s;

    &:focus,
    &:hover {
      background-color: #e25c00;
      color: #fff;
      opacity: 0.75;
    }

    &--active {
      background-color: #e25c00;
      color: #fff;
      pointer-events: none;
    }
  }
}

.tab-navigation {
  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -10px;
  }

  &__link {
    display: inline-block;
    padding: 0 30px 10px;
    margin-bottom: 10px;
    border-bottom: 4px solid #efefef;
    color: #777;
    text-decoration: none;
    transition: 0.25s;

    &:focus,
    &:hover {
      border-bottom-color: currentColor;
      color: #e25c00;
      opacity: 0.75s;
    }

    &--active {
      border-bottom-color: currentColor;
      color: #e25c00;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .tab-navigation {
    overflow-x: auto;

    &__inner {
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin-bottom: 0;
      white-space: nowrap;
    }
  }
}

.cta-area {
  padding: 30px;
  background-color: rgba(221, 116, 44, 0.05);
  border: 1px solid #e25c00;
  text-align: center;

  & > *:last-child {
    margin-bottom: 0;
  }

  &__title {
    padding-bottom: 10px;
    margin-top: -6px;
    margin-bottom: 40px;
    border-bottom: 1px solid currentColor;
    color: #e25c00;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.price-boxes {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &__item {
    flex: 1;
    margin-right: 2.439%;

    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 768px) {
    display: block;

    &__item {
      margin-right: 0;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.price-box {
  border: 1px solid #ddd;

  &__header {
    padding: 10px;
    background-color: #e25c00;
    color: #fff;
    text-align: center;
  }

  &__title {
    font-size: 1.125rem;
  }

  &__price {
    font-size: 1.875rem;
  }

  &__price-unit {
    font-size: 1rem;
  }

  &__body {
    padding: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__lead {
    margin-bottom: 20px;
  }

  &__features {
    text-align: center;

    & > *:last-child {
      margin-bottom: 0;
    }

    &__features-header {
      padding: 5px;
      margin-bottom: 10px;
      background-color: #efefef;
    }

    &__features-text {
      margin-bottom: 20px;
    }
  }
}

/* ヘルパークラス */
.only-md {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.price-table {
  &__inner {
    width: 100%;
    table-layout: fixed;
  }

  &__header {
    padding: 10px;
    background-color: #e25c00;
    border-right: 1px solid currentColor;
    color: #fff;
    text-align: center;

    &:last-child {
      border-right-width: 0;
    }
  }

  &__header-title {
    font-size: 1.125rem;
  }

  &__price {
    font-size: 1.875rem;
  }

  &__price-unit {
    font-size: 1rem;
  }

  &__body-title {
    padding: 10px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
  }

  &__body-text {
    padding: 10px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;

    &:last-child {
      border-right: 1px solid #ddd;
    }
  }

  &__body-row:last-child {
    .price-table__body-title,
    .price-table__body-text {
      border-bottom: 1px solid #ddd;
    }
  }
}

@media screen and (max-width: 768px) {
  .price-table {
    overflow-x: auto;

    &__inner {
      width: auto;
      white-space: nowrap;
    }

    &__body-title {
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      background-color: #fff;
      box-shadow: 1px 0 #ddd;
      font-size: 0.875rem;
    }
  }
}

.faq {
  & > *:last-child {
    margin-bottom: 0;
  }

  &__row {
    position: relative;
    display: flex;
    align-items: flex-start;
    box-sizing: content-box;
    min-height: 45px;
    padding-left: 60px;
  }

  &__row--question {
    margin-bottom: 15px;
    font-size: 1.125rem;
    font-weight: bold;
  }

  &__question-text {
    padding-top: 12px;
  }

  &__row--answer {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-weight: normal;
    line-height: 45px;
    text-align: center;
  }

  &__icon--question {
    background-color: #e25c00;
    color: #fff;
  }

  &__icon--answer {
    background: #efefef;
    color: #e25c00;
  }

  &__answer-body {
    padding-top: 12px;

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__answer-text {
    margin-bottom: 20px;
  }
}

.accordion {
  &__body + .accordion__title {
    margin-top: 20px;
  }

  &__btn {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 40px 10px 15px;
    background-color: #e25c00;
    border: 2px solid #e25c00;
    color: #fff;
    font-size: 1.125rem;
    text-align: left;
    cursor: pointer;
    transition: 0.25s;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 15px;
      display: block;
      width: 20px;
      height: 2px;
      background-color: currentColor;
      transform: translateY(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 24px;
      display: block;
      width: 2px;
      height: 20px;
      background-color: currentColor;
      transform: translateY(-50%);
    }

    &:focus,
    &:hover {
      background-color: #fff;
      color: #e25c00;
    }

    &--active::after {
      content: none;
    }
  }

  &__body {
    display: none;
    padding: 15px;
    border: 1px solid #ddd;

    & > *:last-child {
      margin-bottom: 0;
    }

    &--active {
      display: block;
    }
  }

  &__text {
    margin-bottom: 0;
  }
}

/* ヘルパークラス */
@media screen and (max-width: 768px) {
  .only-lg {
    display: none;
  }
}

.jumbotron {
  height: calc(69.44444vw + -233.33333px);
  background-position: center center;
  background-size: cover;

  &__inner {
    position: relative;
    max-width: 1230px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: calc(3.704vw - 8.444px);
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 1200px) {
  .jumbotron {
    height: 600px;

    &__title {
      font-size: 2.25rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .jumbotron {
    height: 300px;

    &__title {
      left: 50%;
      width: 90%;
      padding: 15px;
      font-size: 1.25rem;
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }
}

.vertical-posts {
  &__item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;

    &:first-child {
      padding-top: 0;
    }
  }

  &__header {
    margin-bottom: 10px;
  }

  &__date {
    font-size: 0.875rem;
  }

  &__title {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.bullet-list {
  & > *:last-child {
    margin-bottom: 0;
  }

  &__item {
    position: relative;
    padding-left: 1em;
    margin-bottom: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0.5em;
      left: 0;
      display: block;
      width: 0.4em;
      height: 0.4em;
      background-color: #e25c00;
      border-radius: 50%;
    }
  }
}

.bullet-list--horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;

  .bullet-list__item {
    flex: calc(50% - 5px);
    margin-right: 10px;

    &:nth-of-type(even) {
      margin-right: 0;
    }
  }
}

.child-bullet-list {
  padding-left: 1.5em;
  margin-top: 10px;
  list-style-type: circle;

  & > *:last-child {
    margin-bottom: 0;
  }

  &__item {
    margin-bottom: 10px;
  }
}

.order-list {
  counter-reset: order-list;

  & > *:last-child {
    margin-bottom: 0;
  }

  &__item {
    position: relative;
    padding-left: 1em;
    margin-bottom: 10px;

    &::before {
      content: counter(order-list) ". ";
      position: absolute;
      top: 0;
      left: 0;
      color: #e25c00;
      font-weight: bold;
      counter-increment: order-list;
    }
  }
}

.child-order-list {
  margin-top: 10px;
  counter-reset: child-order-list;

  & > *:last-child {
    margin-bottom: 0;
  }

  &__item {
    position: relative;
    padding-left: 1em;
    margin-top: 10px;

    &::before {
      content: counter(child-order-list) ". ";
      position: absolute;
      top: 0;
      left: 0;
      color: #e25c00;
      counter-increment: child-order-list;
    }
  }
}

.horizontal-btn-list {
  display: flex;
  justify-content: center;

  & > *:last-child {
    margin-right: 0;
  }

  &__item {
    flex: 1 1 0;
    max-width: 300px;
    margin-right: 20px;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.btn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  background-color: #e25c00;
  border: 2px solid transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  &:focus,
  &:hover {
    background-color: #fff;
    border-color: currentColor;
    color: #e25c00;
  }

  &--warning {
    background-color: #f1de00;
    color: #222;
    &:focus,
    &:hover {
      border-color: #f1de00;
      color: #222;
    }
  }
}

.half-media__text {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .half-media__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.cta-area__text {
  margin-bottom: 40px;
}

.vertical-posts__header > *:last-child {
  margin-right: 0;
}

.vertical-posts__date {
  margin-right: 10px;
}

.vertical-posts__labels {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
}

.vertical-posts__labels > *:last-child {
  margin-right: 0;
}

.vertical-posts__label {
  margin-right: 10px;
  margin-bottom: 10px;
}

.label {
  display: inline-block;
  padding: 0.2em 0.3em;
  background-color: #e25c00;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
}

.accordion__text {
  margin-bottom: 30px;
}

.accordion__cards {
  width: 90%;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
